services:
  - type: web
    name: tg-emaul-bot
    env: python
    plan: free
    branch: main
    buildCommand: |
      pip install --upgrade pip
      pip install setuptools wheel
      pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
